figcaption{
  color: #aaa;
}

figure{
  color: rgb(255, 255, 255);
}

textarea, #naslov{
  background-color:#222222;
  border: none;
  color: whitesmoke;
  border-radius: 20px;
}

#up{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#blah{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 150px;
}

.add{
  position: relative;
  text-align: center;
  justify-content: center;
  justify-self: center;
  margin-top: 120px;
  color: white;
}

.like {
  font: sans-serif;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.like::before {
  content: "❤";
  vertical-align: top;
  margin-left: 5px;
}

#search{
  color: aliceblue;
  cursor: pointer;
}

#s{
  height:50px;
  width:100px;
  position:absolute; 
  display: none;
}

.popup-content::after{
content: '';
position: absolute;
display: block;
top: -70px;
right: -500px;
width: 30px;
height: 30px;
background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA2LjQxTDE3LjU5IDUgMTIgMTAuNTkgNi40MSA1IDUgNi40MSAxMC41OSAxMiA1IDE3LjU5IDYuNDEgMTkgMTIgMTMuNDEgMTcuNTkgMTkgMTkgMTcuNTkgMTMuNDEgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==);
background-position: center;
background-size: contain;
cursor: pointer;
opacity: 0.8;
}

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: fixed;
  width: 30%;
  z-index: 500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 100000px rgba(0,0,0,.8);
  padding: 0;
  }

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}

.like,#komentari,span{
  color: rgb(117, 117, 117);
  margin-bottom: 10px; 
  margin-top: 10px;
  font-size: 20px; 
  text-decoration: none;
  font-weight: bold;
}

button{
  background: transparent;
  border: none;
}

.kopce-post{
  float: right;
  margin-top: 3px;
}

.add:hover{
  transform: scale(1.05);
  transition: 0.4s;
}

main h2 span::before{
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
}
main h2 span{
  position: relative;
  font-size: 2em;
  text-align: center;
  font-family: 'Lobster'; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  position: relative;
  color: rgb(218, 218, 218);
}
main h2{
  margin-bottom: 50px;
}
.container {
  position: relative;
  margin: 20px;
  width: auto;
  float: right;
  text-align: center;
  top: -20px;
}
figure img{
  border-radius: 30px;
  width: 100%;
  height: 400px;
}
header{
  height:  60px;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.dropdown:hover .dropbtn {
  border-radius: 10px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow:rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  margin-left: 25px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#aktivno{ 
  color: #ffffff; 
  background-color: rgb(170, 134, 184);
  border-radius: 20px;
}
.logo{
  height: auto;
  width: 15%;
  padding: 40px 0 0 135px ; 
  float: left;
}
.delete{
  color:red;
  float: right;
  font-size: 20px;
  text-decoration: none;
  margin-top: -410px;
  margin-right: -10px;
  position: relative;
  border: solid 2px red;
  border-radius: 60%;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 3px;
}

.delete:hover{
  animation: shake 0.8s;
}

@keyframes shake{
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 1px, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 1px, 0);
  }
}

nav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: .1em 1em;
  border: 2px solid transparent;
  transition-duration: 0.4s;
}

nav a:hover {
  margin: .1em 1em;
  border-radius: 20px;
  transition-duration: 0.4s;
}

nav  a:nth-child(1):hover {border: solid 2px #ef4e7b;}

nav  a:nth-child(2):hover {border: solid 2px rgb(170, 134, 184);}

nav  a:nth-child(3):hover {border: solid 2px #dcdf20;}

nav  a:nth-child(4):hover {border: solid 2px  #48b7a7;}



main {
  width: 90%;
  padding: 5px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgb(17, 17, 17);
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  border-radius: 18px;
  text-decoration: none;
  transition: 0.3s;
}


.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  columns: 4;
  justify-items: center;
}

.gallery img {
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
}

.gallery img:hover {
  box-shadow: 3px 3px 10px rgb(150, 150, 150);
  filter: brightness(1.07);
}

h2 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-variant: small-caps;
  text-align: center;
}

@media (max-width: 800px) {
  main {
    width: 100%;
  }
  header img {
    width: 80%;
    object-fit: contain;
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

