
.anketa{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-self: center;
  background-color: #ffffff;
  width: max-content;
  border-radius: 20px;
  margin: auto;
  padding: 40px;
  margin-bottom: 50px;
  opacity: 90%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


input,textarea{
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}

 h2 span::before{
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
}
 h2 span{
  position: relative;
  font-size: 2em;
  font-family: 'Lobster'; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  color: rgb(218, 218, 218);
}
 h2{
  margin-bottom: 50px;
  text-align: center;
  padding-top: 15px;
}

#aktivno{ 
  color: #ffffff; 
  background-color: #48b7a7;
  border-radius: 20px;
}

.btn{
  width: 100px;
  height: 40px;
}

#range_weight{
  background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 7px;
  width: 80%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

/* CSS */
.button-24 {
  background: initial;
  border: 1px solid #FF4742;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FF4742;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  outline: 0;
  padding: 5px 7px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 12px;
  margin-left: 240px;
}

.button-24:hover,
.button-24:active {
  background-color: #FF4742;
  background-position: 0 0;
  color: #ffffff;
}

.button-24:active {
  opacity: .5;
}