html {scroll-behavior: smooth;}

body {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
    background-color: rgb(14, 14, 14);
    height: 100vh;
    font-family: 'Exo 2', sans-serif;
}

nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: .1em 1em;
    border: 2px solid transparent;
    transition-duration: 0.4s;
}

nav a:hover {
    margin: .1em 1em;
    border-radius: 20px;
    transition-duration: 0.4s;
}

nav  a:nth-child(1):hover {border: solid 2px #ef4e7b;}

nav  a:nth-child(2):hover {border: solid 2px rgb(170, 134, 184);}

nav  a:nth-child(3):hover {border: solid 2px #d7db05;}

nav  a:nth-child(4):hover {border: solid 2px  #48b7a7;}

#aktivno:hover{
    border: solid 2px white;
}

header {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    height: 60px;
}

.container {
    position: relative;
    margin: 20px;
    width: auto;
    float: right;
    text-align: center;
    top: -20px;
  }
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.dropdown:hover .dropbtn {
  border-radius: 10px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow:rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  margin-left: 25px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.logo{
    height: auto;
    width: 15%;
    padding: 40px 0 0 135px ; 
    float: left;
}

#uname{
    display: none;  
}

/*Button Post/Download*/
.btn:hover{
    filter: brightness(1.1);
}


.btn {
    border: none;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.btn:before, .btn:after,.butn:before, .butn:after{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
}

.btn:before,.butn::before{
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
}

.btn:after,.butn{
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
}

.btn:hover:before,.butn:hover:before{
    width: 115%;
    height: 115%;
}

.btn a{
    text-decoration: none;
    color:#ffffff;  
}


/*Back to the top button*/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 45px;
    height: 45px;
    color: white;
    cursor: pointer;
    z-index: 1000;
}
/* footer  */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;   
    min-height: 70px;
    margin-top: auto;
    background-color: #222222;
    color: #e3f8fa;
}

.copyright{
    font-family: 'Exo 2', sans-serif;
    color: #e3f8fa;
    font-size: 17px;
}

.item.social {
    text-align: center
}

@media (max-width:991px) {
    .item.social {
    text-align: center;
    margin-top: 20px
    }
}

.item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.item.social>a:hover {
    transform: scale(1.1);
}
.item a:nth-child(1):hover {
    background-color: #395285;
}

.item a:nth-child(2):hover {
    background: linear-gradient(45deg,yellow,rgb(236, 50, 205),purple);
}
.item a:nth-child(3):hover {
    background: rgb(39, 39, 139);
}
.item a:nth-child(4):hover {
    background: rgb(116, 34, 192);
}
.item a:nth-child(5):hover {
    background: rgb(216, 64, 64);
}