body {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0;
  background-color: rgb(14, 14, 14);
  height: 100vh;
  font-family: 'Exo 2', sans-serif;
}
.add{
  position: relative;
  text-align: center;
  justify-content: center;
  justify-self: center;
  margin-top: 120px;
  color: white;
}
#like,#like2,#like3,#komentari{
  color: rgb(117, 117, 117);
  margin-bottom: 10px; 
  margin-top: 10px;
  font-size: 20px; 
  text-decoration: none;
}
 button{
  background: transparent;
  border: none;
}
.add:hover{
  transform: scale(1.05);
  transition: 0.4s;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 50px;
  height: 50px;
}
.btn {
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}
.butn{
  background: transparent;
  border: transparent;
}
.btn:before, .btn:after, .butn:before, .butn:after{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
}

.btn:before, .butn::before{
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.btn:after, .butn{-webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.btn:hover:before,.butn:hover:before{
  width: 115%;
  height: 115%;
}

.btn a{
  text-decoration: none;
  color:#ffffff;  
}
main h2 span::before{
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
}
main h2 span{
  position: relative;
  font-size: 2em;
  text-align: center;
  font-family: 'Lobster'; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  position: relative;
  color: rgb(218, 218, 218);
}
main h2{
  margin-bottom: 50px;
}
.container {
  position: relative;
  margin: 20px;
  width: auto;
  float: right;
  text-align: center;
  top: -20px;
}
figure img{
  border-radius: 30px;
  width: 100%;
  height: 400px;
}
header{
  height: 9vh;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.dropdown:hover .dropbtn {
  border-radius: 10px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow:rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  margin-left: 25px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#aktivno{ 
  color: #ffffff; 
  background-color: rgb(170, 134, 184);
  border-radius: 20px;
}
.logo{
  height: auto;
  width: 15%;
  padding: 30px 0 0 135px ; 
  float: left;
}

nav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: .1em 1em;
  border: 2px solid transparent;
  transition-duration: 0.4s;
}

nav a:hover {
  margin: .1em 1em;
  border-radius: 20px;
  transition-duration: 0.4s;
}

nav  a:nth-child(1):hover {border: solid 2px #ef4e7b;}

nav  a:nth-child(2):hover {border: solid 2px rgb(170, 134, 184);}

nav  a:nth-child(3):hover {border: solid 2px #dcdf20;}

nav  a:nth-child(4):hover {border: solid 2px  #48b7a7;}

header {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #481212;
  font-weight: 300;
  margin-bottom: 10px;
}

main {
  width: 90%;
  padding: 5px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgb(17, 17, 17);
}

.btn {
  display: inline-block;
  background-color: firebrick;
  padding: 6px 12px;
  color: #fff;
  border-radius: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  filter: brightness(1.1);
}

.hes-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  columns: 4;
  justify-items: center;
}

.hes-gallery img {
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
}

.hes-gallery img:hover {
  transform: scale(1.04);
  box-shadow: 2px 2px 6px #555;
}

h2 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-variant: small-caps;
  text-align: center;
  color: #481212;
}

p {
  margin: 0;
}

@media (max-width: 800px) {
  main {
    width: 100%;
  }
  header img {
    width: 80%;
    object-fit: contain;
  }
  .hes-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .hes-gallery {
    grid-template-columns: 1fr 1fr;
  }
}

.heading {
  color: #666666;
  text-align: center;
}
.contain {
margin-top: 20px;
}
.button-group {
margin-bottom: 20px;
}
.counter {
display: inline;
margin-top: 0;
margin-bottom: 0;
margin-right: 10px;
}
.posts {
clear: both;
list-style: none;
padding-left: 0;
width: 100%;
text-align: left;
}
.posts li {
background-color: #fff;
border: 1.5px solid #d8d8d8;
border-radius: 10px;
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;
margin-bottom: 10px;
word-wrap: break-word;
min-height: 30px;
max-width: 200px;
box-shadow:2px 2px 1px #888888;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  float: right;
}
/*footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  min-height: 70px;
  margin-top: auto;
  background-color: #222222;
  color: #e3f8fa;
}

 .item.social {
  text-align: center
}

@media (max-width:991px) {
   .item.social {
      text-align: center;
      margin-top: 20px
  }
}

.item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.item.social>a:hover {
  transform: scale(1.1);
}



