body {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  background-color: rgb(14, 14, 14);
  font-family: 'Exo 2', sans-serif;
}

.anketa{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-self: center;
  background-color: #ffffff;
  width: max-content;
  border-radius: 20px;
  margin: auto;
  padding: 40px;
  margin-bottom: 50px;
  opacity: 90%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slika{
  background: url('3d-flame-287.png');
}
input,textarea{
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 50px;
  height: 50px;
  padding-left: 10px;
}
.btn {
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.btn:before, .btn:after{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
}

.btn:before{
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.btn:after{-webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.btn:hover:before{
  width: 115%;
  height: 115%;
}

.btn a{
  text-decoration: none;
  color:#ffffff;  
}
 h2 span::before{
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
}
 h2 span{
  position: relative;
  font-size: 2em;
  font-family: 'Lobster'; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  color: rgb(218, 218, 218);
}
 h2{
  margin-bottom: 50px;
  text-align: center;
}
.container {
  position: relative;
  margin: 20px;
  width: auto;
  float: right;
  text-align: center;
  top: -20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.dropdown:hover .dropbtn {
  border-radius: 10px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow:rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  margin-left: 25px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#aktivno{ 
  color: #ffffff; 
  background-color: #48b7a7;
  border-radius: 20px;
}
.logo{
  height: auto;
  width: 15%;
  padding: 30px 0 0 135px ; 
  float: left;
  z-index: 99;
}

nav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: .1em 1em;
  border: 2px solid transparent;
  transition-duration: 0.4s;
}

nav a:hover {
  margin: .1em 1em;
  border-radius: 20px;
  transition-duration: 0.4s;
}

nav  a:nth-child(1):hover {border: solid 2px #ef4e7b;}

nav  a:nth-child(2):hover {border: solid 2px rgb(170, 134, 184);}

nav  a:nth-child(3):hover {border: solid 2px #dcdf20;}

nav  a:nth-child(4):hover {border: solid 2px  #48b7a7;}

header {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  height: 60px;
}

header h1 {
  color: #481212;
  font-weight: 300;
  margin-bottom: 10px;
}

/* footer  */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  min-height: 70px;
  margin-top: auto;
  background-color: #222222;
  color: #e3f8fa;
}

.item.social {
  text-align: center
}

@media (max-width:991px) {
   .item.social {
      text-align: center;
      margin-top: 20px
  }
}

.item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.item.social>a:hover {
  transform: scale(1.1);
}


#range_weight{
  background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 7px;
  width: 80%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}


/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  outline: 0;
  padding: 5px 7px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 8px;
  margin-left: 200px;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}