* {box-sizing: border-box;margin: 0;}
html {scroll-behavior: smooth;}
@media screen and (max-width: 480px) {.center{width: 100%;}}
body {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-image: url('sliki/6070043.jpg');
    opacity: 90%;
    min-height:180vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    box-shadow: inset 0 0 0 100vw rgba(102, 102, 102, 0.562);
  }
  .centar {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    padding: .75rem;
    position: relative;
  }

  form{padding: 2rem 1rem 0;font-family:Georgia, 'Times New Roman', Times, serif;}
    h2 {
    font-size: 2em;
    border-left: 5px solid #87008b;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    font-weight: bold;
    padding-left: 20px;
    position:relative;
    line-height: 2;
    margin-left: 20px;
    font-family: Lobster;
    }
 
  #footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:auto;  
    background-color: rgb(32, 31, 31);
    color: #d1d1d1;
    text-align: center;
    padding: 10px;
  }
h3 span{border-bottom: 5px solid #87008b;font-family: Lobster;font-size: 1.7em;}
  h1 span{
    border-bottom: 5px solid #87008b;
    font-size: 1.7em;
  }
  h1{
    position: absolute;
    top: 3%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin-top: 60px;
}
span{font-size: 0.9em;
    position: relative;
   margin-top: 10px;
   text-align: center;
  }
  nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: .1em 1em;
    border: 2px solid transparent;
  }
  nav a:hover {
      border-style: solid;
      border-color: white;
      border-width: 2px;
      margin: .1em 1em;
      border-radius: 20px;
  }
  #aktivno{ 
    color: #ffffff; 
    border-style: solid;
    border-color: #87008b;
    border-width: 2px;
    border-radius: 20px;
  }
  .container {
    position: relative;
    margin: 20px;
    width: auto;
    float: right;
    text-align: center;
    display: -ms-flexbox;
  }
  .kontakt{
    float:left;
    width:25%;
    height:auto;
    background-color:white;
    position: relative;
    margin-top: 10%;
    border-radius: 20px;
    margin-left:12%;
    text-align: center;
    padding: 20px 20px;
  }
  .anketa{
    float:left;
    width:40%;
    max-width: 500px;
    height:auto;
    border-radius: 20px;
    position:relative;
    margin-left:15%;
    margin-top: 15%;
  }
  .dopagja input{
      padding:20px;
      margin: 15px;
  }